ConsoleProject/Projekt/.vs
ConsoleProject/Projekt/bin
ConsoleProject/Projekt/obj
WindowProject/Project/.vs
WindowProject/Project/bin
WindowProject/Project/obj
OldProject/Project/.vs
OldProject/Project/bin
OldProject/Project/obj
.vs
